Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-environ>=0.11
django-storages>=1.14
django-filter>=23.5
django-ratelimit>=4.1
Pillow>=10.2
psycopg2-binary>=2.9
boto3>=1.34
python-docx>=1.1
WeasyPrint>=61.0
num2words>=0.5.13
cryptography>=42.0
gunicorn>=21.2
whitenoise>=6.6
celery>=5.3
redis>=5.0
django-redis>=5.4
requests>=2.31.0
pytest-django>=4.7
factory-boy>=3.3
coverage>=7.4
